*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
.app{
	height: 100vh;
	display: flex;
	justify-content: space-evenly;   /* SAME SPACE BETWEEN ITEMS */
	align-items: center; /* vertically aligns items */
}
.time-select, .sound-picker, .player-container{
	height: 80%;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.player-container{
	 position: relative; 
}
.player-container svg{
	position: absolute;
	height: 50%;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%) rotate(-90deg); /* shift 50% to left and 50% top */
    pointer-events: none;  /* should not react to pointer */
}

.timeDisplay{
	position: absolute;
	bottom: 10%;
	color: white;
	font-size: 200%;

}

.time-select button, .sound-picker button{
	color: white;
	width: 40%;
	height: 10%;
	background: none;
	border: solid 1px white;
	cursor: pointer;
	border-radius: 10px;
	font-size: 120%;
	transition: all 0.5s ease;

}

.time-select button:hover{
	color: black;
	background-color: white;
}

.sound-picker button{
	height: 150px;
	width: 150px;
	border: none;
	border-radius: 50%;
}

.sound-picker button:nth-child(1){
	background-color: #4972a1;
}
.sound-picker button:nth-child(2){
	background-color: #a14f49;
}
.sound-picker button img{
	width: 60%;
}
video{
	position: fixed;
	top: 0%;
	left: 0%;
	z-index: -10;
	width:100%;
}

